[Unit]
Description=Vopa Server
Documentation=
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/node /home/pi/vopa-server/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
